a{ 
    text-decoration: none;
    color: #f0cc71;
}
header{
    position: fixed;
    width: 100%;
    margin: 5px 25px;
}
.navigation{
    display: flex;
    justify-content: space-between;

}
form {
    position: relative;
    margin: 0 auto;
 
  }
input, .btn {
    outline: none;
    background: transparent;
}
input {
    height: 32px;
    padding-left: 15px;
    border: 3px solid #F9F0DA;
}
.btn{
    border: none;
    height: 42px;
    width: 70px;
    position: absolute;
    top: 0;
    right: 25%;
    cursor: pointer;
}
.btn:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #f0cc71;
}
input:focus {
    border-color: #311c24;
}
.logo{
    font-size: 36px;
}
.search{
    display: flex;
    justify-content: space-between;
}
.fa-microphone{
    margin-top: 12px;
    margin-left: 5px;
}
.bell{
   float: right;
    margin-top: 12px; 
    margin-left: 70%;
    display: flex;
}
/*---------paw-menu-----------*/
.dropbtn {
    background-color: #f0cc71;
    color: rgb(143, 109, 36);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    margin-top: -18px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-color: #d4cfc4;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #f0cc71;}
/*------side panel--------------------*/
.sidenav {
    height: 370px; 
    width: 280px; 
    left: 0;
    position:  fixed; 
    z-index: 1; 
    padding: 10% 10px;
    background-color: rgb(126, 124, 124); 
    overflow-x: hidden; 
    padding-top: 20px;
    scroll-behavior: auto;
}
.strim{
    display: flex;
    justify-content: space-between;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.main {
    margin-left: 160px; 
    padding: 0px 10px;
}
.name{
    position: relative;
    top: -17px;
  }

@media screen and (max-width: 1200px) {
    .sidenav {width: 95px; height: 100%;}
    .name {display: none;}
    .quantity{display: none;}
    .sidenav_2{display: none;}
    .pulse{display: none;}
}
.sidenav_2{
    height: 130px;
    width: 280px; 
    position:  fixed; 
    left: 0;
    z-index: 1;
    margin-top: 520px;
    background-color: rgb(126, 124, 124);
    padding: 10px 10px;
    
}
.container{
    background-color: rgb(112, 112, 112);
    padding-left: 20%;
    font-size: 20px;
}
.container p{
    padding-left: 30px;
}

.mess{
    padding-left: 50px;
}
.quantity{
    font-size: 20px;
    text-align: right;
}
.fa-telegram:hover,
.fa-instagram:hover,
.fa-facebook:hover{
    color: #bae8e8;
    transition: 0.3s ease;
  }
.strim:hover{
background-color: rgb(112, 112, 112);
}
/*--------pulse---------*/
.pulse_quality{
    display: flex;
    justify-content: center;
}
.pulse {
	margin-top: 23px;
    margin-right: 5px;
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #ec2d2d;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(204,169,44, 0.4);
	animation: pulse 2s infinite;
}

.pulse:hover {
	animation: none;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}
/*-------------*/
.strim img{
    background-color: rgb(247, 234, 199);
    border-radius: 50px;
}
.avatar{
    overflow: hidden;
    text-overflow: ellipsis;
}